{% extends "layout.html" %}
{% block title %}
	Participant
{% endblock %}
{% block style %}
	.img {
		margin: 5px;
		float: left;
		width: 100px;
		height: 224px;
	}
	.shadow-wrapper:after {
	    clear:both;
	    content:" ";
	    display:block;
	}
{% endblock %}
{% block content %}
	<h2> Participant: {{name}} (showing {{images | length}} images out of {{num_images}})</h2>
	{% if event_id %}
		<h3> Event ID: {{event_id}} <h3>
		<button onclick="Event.check_valid({{event_id}}, {{id}})">Check valid</button>
<!-- 		<form action='/participant/{{id}}/{{event_id}}/check_valid' method='POST'> 
			<input type='submit' value='check valid'>
		</form>  -->
	{% endif%}
	<p> date range : {{daterange.min}} - {{daterange.max}}
	{% for day in days %}
		<h3> {{day}} </h3>
		{% for hour in days[day] %}

			<a href="/participant/{{id}}?date_min={{day}}T{{hour}}:00:00&date_max={{day}}T{{hour+1}}:00:00">
				<p>{{day}} {{hour}}:00 - {{days[day][hour]}} images</p> 
			</a>
		{% endfor %}
	{% endfor %}

	<div style=" padding-left:30px; padding-right:30px;" class="shadow-wrapper">
		<div style="text-align:left;float:left;margin:5px;">
			{% if prev_event %} 
				<a style="float:left;clear:left;" href="/participant/{{id}}/{{prev_event.event_id}}">prev event</a>
			{% endif %}
			{% if prev_image %} 
			<a style="float:left;clear:left;" href="{{prev_image.full_url}}"><img width="100" height="74" src='{{prev_image.thumbnail_url}}' ></a>
			<form action='/participant/{{id}}/{{event_id}}/add_prev_image' method='POST'> 
				<input type='submit' value='Add prev image'>
			</form> 
			{% endif %}
		</div> 
		<div style="text-align:right;float:right;margin:5px;">
			{% if next_event %}  
				<a style="float:left;clear:left;" href="/participant/{{id}}/{{next_event.event_id}}">next event</a>
			{% endif %}
			{% if next_image %} 
			<a style="float:left;clear:left;" href="{{next_image.full_url}}"><img width="100" height="74" src='{{next_image.thumbnail_url}}' ></a>
			<form action='/participant/{{id}}/{{event_id}}/add_next_image' method='POST'> 
				<input type='submit' value='Add next image'>
			</form> 
			{% endif %}
		</div> 
	</div>
	<div style="width:100%;padding:30px;" class="shadow-wrapper">
	{% set curr_event = None %}
	{% for image in images %}
		 <div class="img" id="{{image.image_id}}">
		 	{% if curr_event.event_id != image.event.event_id %}
			 	{% if curr_event is not none %} 
				 	{% if curr_event.end_time is defined %} 
					 	<p> {{curr_event.end_time | time}} !-</p> 
				 	{% endif %} 
			 	{% endif %} 
			 	{% if image.event.start_time is defined %}
				 	<p>-! {{image.event.start_time | time }} </p>
				{% endif %}
			 	{% set curr_event = image.event %} 
		 	{% endif %}
		 	<a href='{{image.full_url}}'><img width="100" height="74" src='{{image.thumbnail_url}}' ></a>
		 	 <a id="{{image.image_time}}" href="{% if image.event_id %}/participant/{{id}}/{{image.event_id}}{% endif %}">{{image.event_id}} - {{image.image_id}}</a> <p>{{ '%02d:%02d:%02d' % (image.image_time.hour, image.image_time.minute, image.image_time.second) }}</p> 
		 </div>
	{% else %}
		<p>No images</p>
	{% endfor %}
	</div>
{% endblock %}
