{% extends "layout.html" %}

{% set im_width=100 %}
{% set im_padding=10 %}
{% set im_both=im_width+im_padding %}
{% set im_half=im_both/2 %}

{% block head %}
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />
{% endblock %}
{% block title %}
	Participant
{% endblock %}
{% block style %}
	.img {
		margin: 0px;
		float: left;
		width: {{im_both}}px;
		height: 190px;
		text-align:center
	}
	.img :after {
		content: '';
	    display: block;
	    clear: both;
	}
	.shadow-wrapper:after {
	    clear:both;
	    content:" ";
	    display:block;
	}
	.circle {
		stroke: lightblue;
		stroke-width:5;
		fill:white;
		cursor: grab;
		cursor: -webkit-grab;
	}
	.circle:hover {
		stroke-width:3;
	}

{% endblock %}
{% block content %}
	<h2> Participant: {{name}} (showing {{images | length}} images out of {{num_images}})</h2>
	{% if event_id %}
		<h3> Event ID: {{event_id}} <h3>
		{% if event_seconds %}
			<h3> Length: {{event_seconds | verbose_seconds}}</h3>
		{% endif%}
		<button onclick="Event.check_valid({{id}}, {{event_id}}, function(result) {$('#valid_result').html(result);})">Check valid</button><p id="valid_result"></p>
	{% endif%}
	<div id="jstree">
		<ul>
			{% for label in schema.labels %} 
				<li>{{ label.name }}</li>
			{% endfor %}
		</ul>
	</div>

	<p> date range : {{daterange.min}} - {{daterange.max}}
	{% for day in days %}
		<h3> {{day}} </h3>
		{% for hour in days[day] %}
			<a href="/participant/{{id}}?date_min={{day}}T{{hour}}:00:00&date_max={{day}}T{{hour+1}}:00:00">
				<p>{{day}} {{hour}}:00 - {{days[day][hour]}} images</p> 
			</a>
		{% endfor %}
	{% endfor %}

	<div style=" padding-left:30px; padding-right:30px;" class="shadow-wrapper">
		<div style="text-align:left;float:left;margin:5px;">
			{% if prev_event_id %} 
				<a style="float:left;clear:left;" href="/participant/{{id}}/{{prev_event_id}}">prev event</a>
			{% endif %}
			{% if prev_image %} 
				<a style="float:left;clear:left;" href="{{prev_image.full_url}}"><img width="100" height="74" src='{{prev_image.thumbnail_url}}' ></a>
				<button style="float:left;clear:left;" onclick="Event.add_image({{id}}, {{event_id}}, {{prev_image.image_id}}, function(result) {$('#prev_result').html(result);location.reload();})">Add prev image</button><p id="prev_result"></p>
			{% endif %}
		</div> 
		<div style="text-align:right;float:right;margin:5px;">
			{% if next_event_id %}  
				<a style="float:left;clear:left;" href="/participant/{{id}}/{{next_event_id}}">next event</a>
			{% endif %}
			{% if next_image %} 
				<a style="float:left;clear:left;" href="{{next_image.full_url}}"><img width="100" height="74" src='{{next_image.thumbnail_url}}' ></a>
				<button style="float:left;clear:left;" onclick="Event.add_image({{id}}, {{event_id}}, {{next_image.image_id}}, function(result) {$('#next_result').html(result);location.reload();})">Add next image</button><p id="next_result"></p>
			{% endif %}
		</div> 
	</div>
	<div style="width:100%;padding:30px;" class="shadow-wrapper">
	{% set fillcol="lightblue" %}
	{% for image in images %}
		 <div class="img" id="{{image.image_id}}" image-id="{{image.image_id}}" event-id="{{image.event.event_id}}" >
	 		<svg width="{{im_both}}" height="30">
	 			{% if image.event is not none %}			 	
				 	{% if not image.is_last %}
				 		<rect width="{{im_half}}" height="15" x="{{im_half}}" y="15" fill="yellow" style="cursor:col-resize;" class="split" split-dir="right" /> 
				 	{% endif %} 
				 	{% if not image.is_first %}
				 		<rect width="{{im_half}}" height="15" x="0" y="15" fill="yellow" style="cursor:col-resize;" class="split" split-dir="left" /> 
				 	{% endif %} 
				 	{% if not (image.is_last and image.is_first) %}
					 	{% if image.is_last %}
					 		<rect width="{{im_half}}" height="5" x="0" y="12.5" fill="{{fillcol}}" id="{{image.image_id}}" /> 
					 	{% elif image.is_first %}
					 		<rect width="{{im_half}}" height="5" x="{{im_half}}" y="12.5" fill="{{fillcol}}" id="{{image.image_id}}" /> 
					 	{% else %}
					 		<rect width="{{im_both}}" height="5" x="0" y="12.5" fill="{{fillcol}}" id="{{image.image_id}}"/> 
					 	{% endif %} 
				 	{% endif %} 
				 	{% if image.is_last or image.is_first %}
				 		<circle cx="{{im_half}}" cy="15" r="10" class="circle" id="{{image.image_id}}"/>
					{% endif %}
				{% endif %}
			</svg>
		 	<a href='{{image.full_url}}'><img width="" height="74" src='{{image.thumbnail_url}}' ></a>
		 	 <a id="{{image.image_time}}" href="{% if image.event_id %}/participant/{{id}}/{{image.event_id}}{% endif %}">{{image.event_id}} - {{image.image_id}}</a> <p>{{ '%02d:%02d:%02d' % (image.image_time.hour, image.image_time.minute, image.image_time.second) }}</p> 
		 </div>
	{% else %}
		<p>No images</p>
	{% endfor %}
	</div>
	<script>
	$(function () {
		$('#jstree').jstree({
			"core" : {
				"multiple" : false,
				"animation" : 0,
				"check_callback" : true
			},
			"plugins" : [ "search",  "contextmenu"  ]
		}); 

	});
	/*
	function Image(index, image_id, event_id, thumb_url, width, full_url, time, is_first)  {
		this.index = index;
		this.image_id = image_id;
		this.event_id = event_id;
		this.time = time;
		this.width = width;
		this.thumb_url = thumb_url;
		this.full_url = full_url;
		this.div = null;
	}
	Image.prototype.generateHTML = function() {
		
		self.div = $('<div class="img"><a href="'+self.full_url+'"><img width="'+self.width+'" height="74" src='+self.thumb_url+' ></a></div>').appendTo(".shadow-wrapper") 
		if (self.event_id!=null) $('<a id="'+self.time+'" href="/participant/{{id}}/'+self.event_id+'">event '+self.event_id+'</a>').appendTo(self.div)

	}
	Image.prototype.genSVG = function() {
		$('<svg width="{{im_both}}" height="30">').appendTo(self.div)
	}
	var dragging = null;
	var images = [{image_id: }
	function() {
		if (dragging!=null) {

		}
	}
		  */
		$('.split').click(function() {
			me = $(this)
			var image_id = me.closest(".img").attr("image-id");
			var event_id = me.closest(".img").attr("event-id");
			var dir = me.attr("split-dir");
			console.log(image_id, event_id, dir)
			Event.split(dir, {{id}},event_id, image_id, function(status) {
				if (status=="success") location.reload();
				else {
					console.log(status);
					me.attr("fill", "red")
				}
			});
		}).hover(function(e) {
			me = $(this)
			console.log(e, me.attr("x"))
			console.log(me.closest("svg").first().append('<circle cx="'+e.offsetX+'" cy="'+e.offsetY+'" r="10" class="circle"></circle>'))
		});
		$('circle').hover(function() {
			$(this).attr("r", 12)
		}, function() {
			$(this).attr("r", 10)
		});
		$('circle').draggable()
		  .bind('mousedown', function(event, ui){
		  	console.log($(this).attr("cx"))
		  	$(this).attr("originalX", $(this).attr("cx")-event.target.parentNode.offsetLeft)
		    // bring target to front
		    $(event.target).appendTo( "#wrap" );
		  }).mouseup(function(event, ui){
		  	$(this).removeAttr("originalX")
		  }).bind('drag', function(event, ui){
			var it = $(event.target);
		    // update coordinates manually, since top/left style props don't work on SVG
		    it.attr('cx', event.clientX);
		    // it.attr('cy', ui.position.top-ui.originalPosition.top);
		    console.log(it.attr("cx"), it.attr("cy"), event)
		  })
	</script>
{% endblock %}
