<h2> Study: {{study_id}}, {{study_name}} </h2>

{% for participant in participants %}
	 <a href='/participant/{{participant.participant_id}} '>{{participant.participant_id}}: {{participant.name}}</a>
	 <form action='/remove_studyparticipant' method='POST'> 
	 <input type='hidden' name='study_id' value='{{study_id}}'>
	 <input type='hidden' name='participant_id' value='{{participant.participant_id}}'>
	 <input type='submit' value='Delete'> </form>
	 <br>
{% endfor %}

<form action='/add_studyparticipant' method='POST'> 
	<p>add a participant to this study: </p>
	<select name='participant_id'>
		{% for participant in participants_to_add %}
			<option value='{{participant.participant_id}}'>{{participant.name}}</option>
		{% endfor %}
	</select>
	<input type='hidden' name='study_id' value='{{study_id}}'> 
	<input type='submit' value='Add'>
</form> 